<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><a href="/">SampleApp</a></h1>
    <a href="/static_pages/about">About</a>
    <a href="/static_pages/contact">Contact</a>
    <a href="/static_pages/help">Help</a>
    <%= yield %>
  </body>
</html>
